:root{
    --theme-ui-colors-darker: #121217;
    --theme-ui-colors-dark: #17171d;
    --theme-ui-colors-darkless: #252429;
    --theme-ui-colors-black: #1f2d3d;
    --theme-ui-colors-steel: #273444;
    --theme-ui-colors-slate: #3c4858;
    --theme-ui-colors-muted: #8492a6;
    --theme-ui-colors-smoke: #e0e6ed;
    --theme-ui-colors-snow: #f9fafc;
    --theme-ui-colors-white: #ffffff;
    --theme-ui-colors-red: #ec3750;
    --theme-ui-colors-orange: #ff8c37;
    --theme-ui-colors-yellow: #f1c40f;
    --theme-ui-colors-green: #33d6a6;
    --theme-ui-colors-cyan: #5bc0de;
    --theme-ui-colors-blue: #338eda;
    --theme-ui-colors-twitter: #1da1f2;
    --theme-ui-colors-facebook: #3b5998;
    --theme-ui-colors-instagram: #e1306c;
    --theme-ui-colors-text: #1f2d3d;
    --theme-ui-colors-background: #ffffff;
    --theme-ui-colors-elevated: #ffffff;
    --theme-ui-colors-sheet: #f9fafc;
    --theme-ui-colors-sunken: #e0e6ed;
    --theme-ui-colors-border: #e0e6ed;
    --theme-ui-colors-placeholder: #8492a6;
    --theme-ui-colors-secondary: #3c4858;
    --theme-ui-colors-primary: #ec3750;
    --theme-ui-colors-accent: #338eda;




    --wm-color-text-primary: black;
    --wm-color-text-secondary: #3c4858
    --wm-color-background: white;
    --wm-color-foreground: white;
    --wm-color-nav: rgba(255,255,255)

}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}



#navbar{
    background: rgba(255,255,255,0.8);
    display: flex;
    z-index: 2;
    position: sticky;
    align-items: center;
    top: 0;
    padding: 0px 8px;
}
#navbar span[name="nav_button"], #navbar span[name="new_article"]{
    height: 48px;
    width: 48px;
    margin: 8px;
    line-height: 48px;
    font-size: 36px;
    text-align: center;
    font-family: 'Material Icons';
}
#navbar span[name="nav_button"]{
    border-radius: 24px;
    background-color: black;
    color: white;
}
#navbar span[name="new_article"]{
    color: black;
    font-size: 24px;
}
#navbar img#logo{
    height: 48px;
    margin: 8px;
}
#navbar ul[name="nav_sections"]{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
#navbar ul[name="nav_sections"] li{
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    padding: 16px;
    font-weight: 600;
    cursor: pointer;
}
#navbar input{
    padding: 8px 16px;
    font-size: 1.2em;
    line-height: 1em;
    margin: 8px;
    border: none;
    background: var(--theme-ui-colors-smoke);
    border-radius: 24px;
    margin-left: auto;
}


#container{
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,var(--theme-ui-colors-sheet,#f9fafc),var(--theme-ui-colors-sunken,#e0e6ed));
    align-content: baseline;

}

#container>h1.filter_title{
    width: 100%;
    margin: 16px;
    padding-bottom: 8px;
    box-sizing: border-box;
    font-size: 3em;
    border-bottom: 1px solid;
}

.card{
    flex: 1;
    background: var(--theme-ui-colors-white);
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--theme-ui-colors-border);
    box-shadow: 0 4px 8px rgba(0,0,0,0.125);
    margin: 16px;
}

.card:hover{
    transform: scale(1.025);
    box-shadow: 0 1px 2px rgba(0,0,0,0.0625), 0 8px 12px rgba(0,0,0,0.125);
}

.card h1{
    margin: 0.25em 0px;
}
.card span[name="description"]{
    color: var(--theme-ui-colors-muted)
}


#post, #editor{
    display: flex;
    flex-direction: column;
    background: var(--theme-ui-colors-white);
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 100%;
    position: relative;
}


#post > main, #post > header, #editor>.editor-preview{
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post>header{
    height: 40vh;
    background: var(--theme-ui-colors-red);
    text-align: center;
    justify-content: center;
}

#post>header>h1[name="title"]{
    font-size: 3em;
    margin: 0px;
    margin-top: auto;
}
#post>header>h2[name="description"]{
    font-size: 1.5em;
    margin: 16px;
}
#post>header>span[name="author"]{
    font-weight: 600;
    margin-top: auto;
    margin-bottom: 32px;
    background-color: var(--theme-ui-colors-white);
    padding: 8px 16px;
    color: black
}


#post>main>*, #editor>.editor-preview>*{
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}
#post>main img, #editor>.editor-preview img{
    max-width: 100%;
    margin: 0px auto;
    display: block;
}
#post>main>pre, #editor>.editor-preview>pre{
    padding: 16px;
    background-color: var(--theme-ui-colors-black);
    border-radius: 8px;
    color: var(--theme-ui-colors-white);
}
#post>main>pre.latex, #editor>.editor-preview>pre.latex{
    text-align: center;
    background-color: var(--theme-ui-colors-smoke);
    font-size: 1.3em;
    color: black;
}
#post>main>blockquote, #editor>.editor-preview>blockquote{
    background: var(--theme-ui-colors-sunken);
    padding: 0px 24px;
    border-left: 3px solid;
}
#post>main>table, #editor>.editor-preview>table{
    border-collapse: collapse;
}
#post>main>table, #post>main>table th, #post>main>table td,
#editor>.editor-preview>table, #editor>.editor-preview>table th, #editor>.editor-preview>table td
{
    border: 0.5px solid var(--theme-ui-colors-muted);
    padding: 8px
}

#editor{
    flex-direction: row;
    flex: 1;
    align-items: stretch;
}

#editor>*{
    flex: 1;
}

#editor>.editor-code{
    background-color: var(--theme-ui-colors-smoke);
    padding: 24px;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px){
    #navbar{
        flex-wrap: wrap;
    }
    #navbar ul[name="nav_sections"]{
        flex: 1
    }
    #navbar input{
        margin: 8px;
        flex: 1;
        padding: 16px
    }
}